*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.converter {
  margin-top: 100px;
  border: 1px solid #343d46;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* .converter_title */
  
  &_title {
    margin: 15px 0 0 15px;
    align-self: start;
  }
  
  /* .converter_currencyBlock */
  
  &_currencyBlock {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 0 0;
  }
}
